* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 10px/16px =0.625 */
  /* percentage of users font size  */

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* THIS ONLY HAPPEN WHEN NOTHING IS ABSOLUTELY
  POSITIONED IN THE BODY */
  overflow-x: hidden;
}

/* button {
  border-radius: 8px;

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
